body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #calendar {
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #calendar h2 {
    text-align: center;
  }
  
  #calendar table {
    width: 100%;
  }
  
  #calendar th,
  #calendar td {
    text-align: center;
    padding: 5px;
  }
  
  #calendar th {
    background-color: #eee;
  }
  
  #calendar td {
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  #calendar td:hover {
    background-color: #eee;
  }
  